# Mac
.DS_Store
# Eclipse
.classpath
.project
.settings/
target/
# Intellij
.idea/
.idea_modules/
*.iml
*.iws
*.class
*.log
#R and RStudio
.Rbuildignore
.Rproj.user
*.Rproj
*.Rcheck
# R4ML gen files/dir
lib/
html/
man/
# Others
.checkstyle
.fbExcludeFilterFile
log4j.spark.log*
doc/
metastore_db/
README.html

